<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="plantilla/UITemplate :: cabecera">
	<meta charset="ISO-8859-1">
	<title>Medicamento</title>

</head>

<body>
	
	<div th:insert="plantilla/UITemplate :: menu"></div>
	<div class="container">

		<h3 class="text-center mt-4">LISTA DE MEDICAMENTOS</h3>

		<button type="button" class="btn btn-primary mt-5" data-toggle="modal" data-target="#modalMedicamento"
			id="btn-nuevo">
			<i class="far fa-file"></i> Nuevo Medicamento
		</button>
		<div class=" mt-2">

			<table class="table table-striped table-bordered mt-5" id="tableMedicamentos">
				<thead>
					<tr>
						<th>Código</th>
						<th>Nombre</th>
						<th>Stock</th>
						<th>Precio</th>
						<th>Fecha</th>
						<th>Tipo</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="row:${medicamento}">
						<td th:text="${row.codigo}"></td>
						<td th:text="${row.nombre}"></td>
						<td th:text="${row.stock}"></td>
						<td th:text="${row.precio}"></td>
						<td th:text="${row.fecha}"></td>
						<td th:text="${row.tipo.nombre}"></td>
						<td><a class="btn btn-info btn-editar" data-toggle="modal" data-target="#modalMedicamento"><i
									class="far fa-edit"></i></a></td>
						<td><a class="btn btn-danger btn-eliminar"><i class="far fa-trash-alt"></i></a></td>
					</tr>
				</tbody>
			</table>
		</div>


		<!-- begin #modal-dialog : MODAL MEDICAMENTO-->
		<div class="modal fade" id="modalMedicamento" data-backdrop="static" data-keyboard="false" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-login modal-lg">
				<div class="modal-content">
					<div class="modal-header bg-blue-darker">
						<h4 class="modal-title text-white">Medicamento</h4>
					</div>
					<div class="modal-body">
						<form method="POST" id="idRegistra" action="/medicamento/grabar">
							<input type="hidden" id="idCodigo" name="codigo" value="0">
							<div class="container">
								<div class="row">
									<div class="form-group has-feedback col-md-12">
										<label for="exampleInputEmail1"><b>Nombre</b></label><br>
										<i class="fas fa-file-signature form-control-feedback2"></i>
										<input type="text" class="form-control" id="idNombre"
											placeholder="Ingresar nombre" name="nombre">
									</div>
									<div class="form-group has-feedback col-md-12">
										<label for="exampleInputEmail1"><b>Descripción(Detalle)</b></label><br>
										<textarea class="form-control" id="idDescripcion" rows="6" name="descripcion"
											placeholder="Ingresar descripción"
											style="padding-left: 5px!important;"></textarea>
									</div>
									<div class="form-group has-feedback col-md-4">
										<label for="exampleInputEmail1"><b>Stock</b></label><br>
										<i class="fas fa-pen-fancy form-control-feedback2"></i>
										<input type="text" class="form-control" id="idStock"
											placeholder="Ingresar stock" name="stock">
									</div>
									<div class="form-group has-feedback col-md-4">
										<label for="exampleInputEmail1"><b>Precio</b></label><br>
										<i class="fas fa-money-check-alt form-control-feedback2"></i>
										<input type="text" class="form-control" id="idPrecio"
											placeholder="Ingresar precio" name="precio">
									</div>
									<div class="form-group has-feedback col-md-4">
										<label for="exampleInputEmail1" class="text-center"><b>Fecha
												vencimiento</b></label><br>
										<i class="fas fa-calendar-week form-control-feedback2"></i>
										<input type="text" style="background-color:#aed6f1" class="form-control"
											id="usr1" placeholder="YYYY-MM-DD" autocomplete="off" name="vencimiento">

									</div>
									
									<div class="form-group has-feedback col-md-6">
										<label for="exampleInputEmail1"><b>Laboratorio</b></label><br>
										<i class="fas fa-prescription-bottle-alt form-control-feedback2"></i>
										<select class="form-control" id="idLaboratorio" name="laboratorio">
											<option value=" ">[Seleccione Laboratorio]</option>

											<!--Por lenguaje de expresion traemos los tipos a la vista
													      hacemos uso de utext para traer los datos al option, tambien con lenguaje de expresion
													      tambien se le da el value para obtener el codigo de la seleccion en el combobox-->
											<option th:each="fila:${laboratorios}" th:utext="${fila.nombre}"
												th:value="${fila.codigo}" />
										</select>

									</div>
									
									<div class="form-group has-feedback col-md-6">
										<label for="exampleInputEmail1"><b>Tipo Medicamento</b></label><br>
										<i class="fas fa-prescription-bottle-alt form-control-feedback2"></i>
										<select class="form-control" id="idTipo" name="tipo">
											<option value=" ">[Seleccione Tipo Medicamento]</option>

											<!--Por lenguaje de expresion traemos los tipos a la vista
													      hacemos uso de utext para traer los datos al option, tambien con lenguaje de expresion
													      tambien se le da el value para obtener el codigo de la seleccion en el combobox-->
											<option/>
										</select>

									</div>
								</div>
							</div>
							<div class="col-md-12 text-center mt-4">
								<button type="submit" id="Guardar" class="btn btn-primary"><i class="fas fa-save"></i>
									Registrar</button>
								<button type="button" id="btn-cerrar" class="btn btn-danger" data-dismiss="modal"><i
										class="fas fa-undo-alt"></i> Cancelar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- FIN Modal MEDICAMENTO-->
		
		<form action="/medicamento/eliminar" method="post" id="form-eliminar">
			<input type="hidden" name="codigoEliminar" id="codigo-eliminar">
		</form>
	</div>
	

	<div th:insert="plantilla/UITemplate :: pie"></div>

	<!--Alert consumible-->

	<script th:inline="javascript" th:if="${Mensaje!=null}">
		//Recuperar atributo mensaje
		let men =/*[[${Mensaje}]]*/
			toastr.success(men, toastr.options = {
				"timeOut": "2000",
				"positionClass ": " toast-top-right ",
			});

	</script>






	<script>
		let codigoTipo=-1;
		
		$('#tableMedicamentos').DataTable();
		$(function () {
			$('#usr1').datepicker({
				'format': 'yyyy-mm-dd',
				'autoclose': true
			});

		});
		$('#usr1').on('changeDate show', function (e) {
			$('#idRegistra').bootstrapValidator('revalidateField', $('#usr1'));
		});


		//Asignar evento click a todos los botones con nombre de clase ".btn-editar"
		$(document).on("click", ".btn-editar", function () {
			let cod;
			//obtener el codigo del medicamento actual según el boton que se presiono
			cod = $(this).parents("tr").find("td")[0].innerHTML;
			//trabajar con la funcion get para llmaar a la RUTA "buscar"
			$.get("/medicamento/buscar?codigo=" + cod, function (response) {
				//Imprimir en los controles el valor del JSON
				$("#idCodigo").val(response.codigo);
				$("#idNombre").val(response.nombre);
				$("#idDescripcion").val(response.descripcion);
				$("#idStock").val(response.stock);
				$("#idPrecio").val(response.precio);
				$("#usr1").val(response.fecha);
				//$("#idTipo").val(response.tipo.codigo);
				$("#idLaboratorio").val(response.tipo.laboratorio.codigo);
				codigoTipo=response.tipo.codigo;
				//llamar al evento change del combo idLaboratorio
				$("#idLaboratorio").trigger("change")
				console.log(response);
			})
		})


		//Asignar evento click a todos los botones con nombre de clase ".btm-eliminar"
		$(document).on("click", ".btn-eliminar", function () {
			let cod;
			//obtener el codigo del medicamento actual según el boton que se presiono
			cod = $(this).parents("tr").find("td")[0].innerHTML;
			$("#codigo-eliminar").val(cod);
			alertify.confirm("SISTEMA", "Seguro de eliminar!",
				function () {//SI
				$("#form-eliminar").submit();
				},
				function () {//NO
					alertify.error('Cancelado!')
				}).
				set('labels', {ok: 'Si', cancel: 'No'}); F

		})


		//asignar evento clic al botón con ID btn-cerrar
		$(document).on("click", "#btn-cerrar", function () {
			//resetear formulario
			$("#idRegistra").trigger("reset");
			$("#idCodigo").val(0);
			//resetear validaciones
			$("#idRegistra").data("bootstrapValidator").resetForm(true);
		})


		//asignar evento change al select con ID idLaboratorio
		$(document).on("change", "#idLaboratorio", function () {
			//obtener el código del laboratorio actual
			let codLab;
			codLab=$(this).val();
			//limpiar combo idTipo
			$("#idTipo").empty().append("<option value=' '>[Seleccione Tipo Medicamento]</option>");
			//get
			$.get("/medicamento/listarTipos?codigo="+codLab,function(response){
				//bucle
				$.each(response,function(index,item){
					$("#idTipo").append("<option value='"+item.codigo+"'>"+item.nombre+"</option>");		
				})
				//marcar el tipo de medicamento				
				$("#idTipo").val(codigoTipo);				
			})
		})




	</script>

	<script type="text/javascript">
		$(document).ready(function () {

			$('#idRegistra').bootstrapValidator({
				feedbackIcons: {
					valid: 'glyphicon glyphicon-ok',
					invalid: 'glyphicon glyphicon-remove',
					validating: 'glyphicon glyphicon-refresh'
				},
				fields: {

					Nombres: {
						selector: '#idNombre',
						validators: {
							notEmpty: {
								message: 'Ingrese nombre'
							}
						}
					},
					Descripcion: {
						selector: '#idDescripcion',
						validators: {
							notEmpty: {
								message: 'Ingrese descripción'
							}
						}
					},
					Stock: {
						selector: '#idStock',
						validators: {
							notEmpty: {
								message: 'Ingrese stock'
							},
							regexp: {
								regexp: /^[0-9]{1,2}$/,
								message: 'Campo stock hasta dos cifras'
							},
						}
					},
					precio: {
						selector: '#idPrecio',
						validators: {
							notEmpty: {
								message: 'Ingrese precio'
							},
							regexp: {
								regexp: /^(\d+|[0-9]+\.\d{1,2})$/,
								message: 'Campo precio real hasta dos decimales'
							},
						}
					},
					Fecha: {
						selector: '#usr1',
						validators: {
							notEmpty: {
								message: 'Seleccione fecha '
							},
							date: {
								format: 'YYYY-MM-DD',
								message: 'The format is dd/mm/yyyy'
							},
						}
					},
					Tipo: {
						selector: '#idTipo',
						validators: {
							notEmpty: {
								message: 'Seleccione tipo medicamento'
							},
						}
					}
				}
			})
		});    
	</script>






















</body>

</html>